<% title 'About the process' %>
<p>After reading the description I did a paper draft of the main pages and wrote down what I thought the <i>client</i> wanted. 
Normally I would show this to the client, but as this was a pre-interview task, I could not. <%= link_to 'Here\'s that paper draft.', '/images/paper_draft.png' %></p>
<p>After the paper draft I began working on one thing at a time. First it was the search action, I created the search controller and the index and search methods. 
After I had all the data I needed for searching and pagination, I began working on the show page. Once again, one step at a time. I first got the basic page data, 
then the advanced data (comments, likes, posts)</p>
<p>After all of that was accomplished I started working on some of the AJAX as my designer had yet to respond to my call. To be continued...</p>
