<% title "Meet the crew" %>
<h3>Mohammad El-Abid</h3>
<h5>Gmail: mohammad <sup>dot</sup> elabid</h5>
<p>Mohammad El-Abid is the project manager and Ruby on Rails developer behind this project.
He did some front-end work for the AJAX and also designed an API for both JSON and XML within this application.
He also created the <%= link_to 'paper draft', about_process_path %> and found the other talents below.</p>
