<% title 'About the project' %>
<p>This project was created as a pre-interview task. However I saw that the orginal idea was pretty limited
and I had a few days to develop it. So why not extend it, get a designer to give it some magical touches and
make it a fully functional open-source application with a purpose?</p>
